
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@1,800&family=Ubuntu:ital,wght@0,300;0,500;1,700&display=swap');
:root{
    --primary-fonts:var('Open Sans', sans-serif;)
}

/*common css start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.container{
    width:1170px;
    height: 100px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap:wrap;

}
.align-center{
    align-items: center;
    justify-content: center;
}


body{
    font-family:var(--primary-fonts);
}
.button{
    width: 120px;
    height: 40px;
    background-color: #cfc91d;
    color:black;
    display: inline-block;
    margin: auto;
    padding-top: 4px;
    font-weight: 800;

}
.heading{
    text-align: center;
    color: #02918c;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 46px;
    margin-top: 80px;
    position: relative;

}
.heading::after{
    content:'';
    width:180px;
    height: 9px;
    background-image: url(../images/design.png);
    position: absolute;
    margin-left: -50px;
    bottom: -30px;
    transform: translateX(-50px);
}

/*common css end*/

nav{
    width: 1170px;
    background-color: #02918c;
    height: 60px;
}

nav .logo{
    width: 20%;
    display: inline-block;
    padding: 20px;
    




}
nav .menu{
    width: 80%;
    text-align: right;


}
nav .menu ul li{
    display: inline-block;
}
nav .menu ul a{
    color: white;
    padding: 20px;
    margin-right: 0;
    font-weight: 700;
    display: inline-block;
}

/*nav end*/
#banner{
    width:1170px;
    height: 725px;
    background-image: url(../images/FOLIO.jpg);
    display: block;
    background-size: cover;
    text-align: center;

}


.banner_set{
    width: 100%;
    color: white;
    margin:auto;
    margin-top: 210px;
    display: inline-block;
    text-align: center;
}
.banner_set a{
    width: 120px;
    height: 40px;
    background-color: #cfc91d;
    color:black;
    display: inline-block;
    margin-top: 20px;
    font-weight: 800;

}
.banner_set span{
    display:block;
    margin: auto;
    padding: 80px;
}
.banner_set h1{
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 20px;
}
.banner_set h4{
    height: 30px;
    font-weight: 400;
}
/*banner end*/

#about{
    width:100%;
    height: 500px;
    background-color: #ffffff;
    background-size: cover;
    text-align: center;
    font-family: open-sans;
    line-height: 20px;
    
}



#about .detail{
    width:100%;
    margin:40px;
    text-align: center;
    line-height: 50px;
    

}

#about .detail span{
    font-weight: 800;
    font-size: 23px;

    
}
#about .card{
    width: 20%;
    text-align: center;
    border-right: 1px solid;
    
    margin-left: 55px;

}
#about .card span{
    color:#67b9b3;
    font-size: 30px;
    


}
#about .card h4{
    font-size: 16px;
    font-weight: 700px;
    color: black;
    margin: 20px;
    font-family: opensans;

}
#about .card p{
    font-weight: 400;
    font-size: 14px;
    font-family: opensans;
}
#about .card:last-child{
    border: none;
}
/*about sec end*/



#services{
    width:1170px;
    height: 725px;
    background-image: url(../images/servic.jpg);
    display: inline-block;
    background-size: cover;
    text-align: center;
    margin: 10px;
    padding: 40px;
}


#services .center{
    width:60%;
    color:rgb(24, 24, 24);

}
#services .heading{
    text-align: left;
    color: #02918c;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 46px;
    margin-top: 80px;
    margin-left: 20px;
    position: relative;
    margin-bottom: 40px;
    
}
#services .heading::after{
    content:'';
    width:180px;
    height: 9px;
    background-image: url(../images/design.png);
    position: absolute;
    margin-left:0;
    bottom: -30px;
    transform: translateX(0);
}

.para{
    width: 48%;
    text-align: left; 
    line-height: 40px;
    margin-left: 20px;
    



}

#services .divide{
    width: 45%;
    text-align:left;
    padding:20px;

}
#services .divide h4{
    font-size: 16px;
    font-weight: 700;
    color:#f0f0e8;
    margin-bottom: 20px;
    
}
#services .divide p{
    font-weight: 400;
    font-size: 14px;
    padding: 40px,0;
    width: 165px;
   
}
#services .divide span{
    color:#82c4bd;
    font-size: 30px;
    display: inline-block;

}

/*services End*/

#work{
    width: 1170px;

}
#work p{
    margin-top: 50px;
    text-align: center;
    line-height: 40px;

}
#work .wrapper{
    margin-top: 40px;
}
#work .card img{
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
}
#work .card{
    width: 25%;
    position: relative;
    
}

#work .card .overlay{
    position: absolute;
    inset: 15px;
    width: 270px;
    color: white;
    padding: 20px;
    font-family:var(--primary-fonts);
    text-align: center;
    z-index: 1;
    
}
#work .card .overlay::after{
    content: '';
    width: 00px;
    height: 100%;
    background-color:#11847ebc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;

}
#work .card .overlay:hover::after{
    width: 270px;

}

#work .card .overlay h4{
    margin-top: 20px;
    text-align: center;

}
#work .card .overlay p{
    text-align: center;
    line-height: 20px;
}



    

/*work sec end*/


#contact{
    width: 100%;
    background-color: white;

}

#contact p{
    width: 750px;
    margin-left: 240px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 40px;
    line-height: 40px;
}
#contact .information{
    width: 100%;
    background-color:#0b0b0b;
    text-align: center;
    width: 100%;
    margin:auto;
    display: inline-block;
    
}

#contact .information input{
    background-color:transparent;
    width: 235px;
    text-align: center;
    padding: 30px;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

#contact .button{
    margin: 60px;
    padding: 10px;
}

.folio{
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: black;
    color:white;
    padding: 10px;
}

/*contact end*/












